#wpcontent > #wpbody > #wpbody-content {
    padding-bottom: 2rem;
}

#wpfooter > #footer-left > #footer-thankyou {
    display: none;
}

form div#poststuff div#post-body,
div#wpbody > div#wpbody-content div.index-wp-mysql-for-speed-content-container {
    margin-top: 1em;
    margin-left: 1em;
}

div#wpcontent form div > div > table.form-table > tbody > tr.warning > th,
div#wpcontent form div > div > table.form-table > tbody > tr > th span.warning {
    color: #cc9900;
}

div#wpcontent form div > div > table.form-table > tbody > tr.success > th {
    color: #10a010;
}

/* inline fields layout */
fieldset div.with-child-fields > fieldset.inline > div.index-wp-mysql-for-speed-fields > div.index-wp-mysql-for-speed-field > div > label > input {
    min-width: auto;
}

fieldset div.with-child-fields > fieldset.inline > div.index-wp-mysql-for-speed-fields > div.index-wp-mysql-for-speed-field > div > label > input[type=number] {
    width: 5em;
}

/* alignment of text fields */
#fieldset-monitor_specs_Array {
    /* https://github.com/michaeluno/admin-page-framework/issues/293 vertical-align: initial !important; */
}


/* space after labels on inline fields */
fieldset div.with-child-fields > fieldset.inline > div > div.index-wp-mysql-for-speed-field > div > label > span.index-wp-mysql-for-speed-input-label-string {
    padding-right: 0.5em;
}

/* width of inline number entry field */
fieldset.inline input.number {
    width: 4em;
}


/* width of inline text entry field */
fieldset.inline input.name {
    width: 12em;
}

div#wpcontent form div > div > table.form-table > tbody > tr.failure > th {
    color: red;
}

div#wpcontent form div > div > table.form-table > tbody > tr.detail {
    padding-top: 0.25px;
    padding-bottom: 0
}

div.index-wp-mysql-for-speed-input-button-container > label > input.button.button_delete {
    background-color: red;
    color: white;
    font-weight: 900;
    border-radius: 2em;
    height: 0.6rem;
    min-width: unset !important;
}

div#wpcontent form div > div > table.form-table > tbody > tr.warning.detail > th {
    padding-left: 2em;
    padding-right: 2em;
}

div#wpcontent form div > div > table.form-table > tbody > tr.warning.detail > th label span {
    font-weight: 400;
}

div#wpcontent form div > div > table.form-table > tbody > tr > td,
div#wpcontent form div > div > table.form-table > tbody > tr > th {
    padding-bottom: 0.5em;
    padding-top: 0.25em;
    padding-right: 0.25em;
}

div#wpcontent form div > div > table.form-table > tbody > tr > th:first-child {
    width: 7rem;
}

p.topinfo {
    font-size: 14px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p.topinfo:last-of-type {
    margin-bottom: 2em;
}

div#wpbody > div#wpbody-content h1.rendermon {
    padding-top: 0;
    font-weight: 600;
}

div#wpbody > div#wpbody-content div.rendermon.table-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* lozenges for query fingerprint placeholders. */
table.rendermon.query tbody > tr > td > span.t {
    font-size: 105%;
    border: 0.05em #a0a0a0 solid;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
table.rendermon.query tbody > tr > td > span.i {
    display: none;
}
div.rendermon.query.table-container > .dataTables_wrapper > .dataTables_info {
    padding-top: 0.5em;
    padding-right: 2em;
}

div#wpbody > div#wpbody-content div.rendermon.table-container table thead tr td.rendermon.query.header {
    font-weight: 600;
}

div#wpbody > div#wpbody-content div.rendermon.table-container button.dt-button span,
div#wpbody > div#wpbody-content div.rendermon.table-container div.dataTables_filter label {
    font-size: 0.85rem;
}